{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          type="text/css"
          href="{% static 'bootstrap.min.css' %}">

    <title>Hello, pybo!</title>
</head>
<body>
<!-- 내비게이션바 -->
{% include "navbar.html" %}

<!-- views.py에서 messages.error()로 전달한
     일회성 안내 메시지를 출력한다. -->
{% if messages %}
<div class="container my-3">

    {% for message in messages %}
    <div class="alert alert-danger"
         role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<!-- 화면별 내용 -->
{% block content %}
{% endblock %}
<!-- jQuery JS -->
<script src="{%static 'jquery-4.0.0.min.js'%}"></script>
<!-- Bootstrap JS -->
<script src="{%static 'bootstrap.min.js'%}"></script>

</body>
</html>