<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">

        <a class="navbar-brand"
           href="{% url 'pybo:index' %}">
            Pybo
        </a>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
             id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">

                    {% if user.is_authenticated %}

                    <form method="post"
                          action="{% url 'common:logout' %}"
                          class="form-inline">

                        {% csrf_token %}

                        <button type="submit"
                                class="btn btn-link nav-link">
                            {{ user.username }} (로그아웃)
                        </button>
                    </form>

                    {% else %}

                    <a class="nav-link"
                       href="{% url 'common:login' %}">
                        로그인
                    </a>

                    {% endif %}

                </li>
            </ul>

        </div>
    </div>
</nav>